body{
    /* display: flex;
    flex-direction: column; */
    margin: 0px;
    
    /* align-content: center;
    justify-content: center; */
}
header{
    background-color: #9bf6ff;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
main{
    padding: 20px 5%;
}
nav{
    max-width: 30%;
    flex:1;
    display: flex;
    justify-content: space-between;
}
nav a{
    /* display: inline-block; */
    width: 100px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10%;
    align-content: center;
    text-align: center;
    /* text-transform: uppercase; */
}
nav a:hover{
    transform: translateX(0.1em) translateY(0.1em);
}
section{
    background-color: aliceblue;
    border: 5px solid darkblue;
    border-radius: 10px;
    height: 280px;
    width: 300px;
    margin: 0 5px;
}

.categories{
    width: 200px;
    height: 200px;
    background-color: #ffe6a7;
    border: 5px solid black;
    margin: 5px;
    align-content: center;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 30px;
}
.categories:hover{
        background-color: #704d7a;
        transition: background-color 1.5s;
        transform: translateX(0.3em) translateY(-0.3em)
}
.group-display{
    display: flex;
    padding: 10px 0 10px 20px;
    justify-content: left;
    /* overflow-x: auto; */
    
}

#banner{
    background-color: #023047;
    padding: 0;
    /* width: 90%; */
    height: 200px;
    border-radius: 30px;
    border: 5px solid black;
    margin: 20px 5px;
}
#logo{
    width: 200px;
    height: 40px;
    background-color: rgb(221, 124, 124);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    font-style: italic;
    font-size: 1.6em;
    text-align: center;
    align-content: center;
    
}
#main-categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

#search_button{
    border-radius: 5%;
    border: 3px solid black;
    /* display: flex; */
    justify-content: right;
    font-style: italic;
}